{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Upcoming Shows</title>
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
            <button class="btnm"><a href="{% url 'user:profile' %}">Profile</a></button>
            <button class="btnm"><a href="{% url 'user:logout' %}">Logout</a></button>
        {% else %}
            <a class="nav-item nav-link" href="{% url 'user:login' %}">Login</a>
            <a class="nav-item nav-link" href="{% url 'user:signup' %}">Register</a>
        {% endif %}
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>