{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Upcoming Shows</title>
</head>
<body>
    
    <nav >
        <div class="left">
            <img src="../../media/logoshow.png" alt="showbookers">
        </div>
        <input type="text" placeholder="Search For Movies">
        <div class="center"> 
            
             <h1> Show Bookers</h1></div>
        <div class="right">
        <button class="btnm"><a href="{% url 'user:shows' %}">Upcoming Shows</a></button>
        {% if iser.is_staff or user.is_superuser %}
            <button class="btnm"><a href="{% url 'user:add_show' %}">Add Show</a></button>
        {% endif %}
        {% if user.is_authenticated %}
            <button class="btnm"><a href="{% url 'user:profile' %}">Profile</a></button>
            <button class="btnm"><a href="{% url 'user:logout' %}">Logout</a></button>
        {% else %}
            <a class="nav-item nav-link" href="{% url 'user:login' %}">Login</a>
            <a class="nav-item nav-link" href="{% url 'user:signup' %}">Register</a>
        {% endif %}
    </div>
    </nav>
    
    {% block content %}
    {% endblock %}
</body>
</html>