{% extends 'base.html' %}

{% block content %}
  <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div class="text-center">
      <h1>{{ show.movie.title }}</h1>
      <h2>{{ show.movie.description }}</h1>
      <p>{{ show.time|date:'F j, Y' }} at {{ show.time|time:'g:i A' }}</p>
      
      <img class="profile_img" src="{{ show.movie.poster.url }}" height="300">
                    
      <form method="post">
        {% csrf_token %}
        <div class="seath-map">
          {% for row in seat_matrix %}
            <div class="seat-row">
              {% for seat in row %}
                {% if seat %}
                  <label>
                    <input type="checkbox" name="seats" value="{{ seat.seat_no }}" {% if not seat.is_available %}disabled{% endif %}>
                    <span class="seat{% if not seat.is_available %} booked{% endif %}">{{ seat.seat_no }}</span>
                  </label>
                {% else %}
                  <span class="empty-seat"></span>
                {% endif %}
              {% endfor %}
            </div>
          {% endfor %}
        </div>
        <div style="display: flex; justify-content: center;">
          <button type="submit" class="btn btn-primary">Book Tickets</button>
        </div>
        
      </form>
    </div>
  </div>
{% endblock %}