{% extends 'base.html' %}

{% block content %}
<div class="profile-image">
    {% if get_customuserdetails.profile_image %}
      <img src="{{ get_userprofiledetails.image.url }}" alt="Profile image">
    {% else %}
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Profile_avatar_default.svg/1200px-Profile_avatar_default.svg.png" alt="Profile image">
    {% endif %}
  </div>
    <div class="body-student student-profile py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card shadow-sm">
                        <div class="card-header bg-transparent text-center">
                            <img class="profile_img" src="{{ get_userprofiledetails.image.url }}"
                                alt="student dp">
                            <h3>{{ user.username }}</h3>
                        </div>
                        <div class="card-body">
                            <p class="mb-0"><strong class="pr-1">Username:</strong>{{ user.username }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card shadow-sm">
                        <div class="card-header bg-transparent border-0">
                            
                        </div>
                        <div class="card-body pt-0">
                            <table class="table table-bordered">
                                <tr>
                                    <th width="30%">Email:</th>
                                    <td width="2%">:</td>
                                    <td>{{ user.email }}</td>
                                </tr>
                                <tr>
                                    <th width="30%">Phone number:</th>
                                    <td width="2%">:</td>
                                    <td>{{ get_userprofiledetails.phone_no }}</td>
                                </tr>
                                
                            </table>
                        </div>
                    </div>

                    


                    
                </div>

            </div>
        </div>
    </div>
    <div class="booked-shows">
        <h3>Booked Shows</h3>
        {% for booked_show in booked_shows %}
          <ul>
            <li>
                <a href="{% url 'user:book_show' show_id=booked_show.show.id %}">{{ booked_show.show.movie.title }}</a>
              <h4 class="booked-show-title">{{ booked_show.show.movie.title }}</h4>
              <h6 class="booked-show-time">{{ booked_show.show.time }}</h6>
            </li>
          </ul>
        {% endfor %}
      </div>
{% endblock %}